#login-page {
    padding: 10px 0;

    .login-container {
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;

        .login-content {
            position: absolute;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.9);
            left: 10%;
            width: 35%;
            top: 20px;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            align-items: center;
            margin-top: 20px;

            img {
                width: 200px;
                margin-top: 100px;
            }

            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 25px;
            }

            p {
                font-size: 14px;
            }

            .login-form {
                width: 75%;

                input {
                    &::-webkit-input-placeholder {
                        /* Edge */
                        color: #cccc;
                    }

                    &:-ms-input-placeholder {
                        /* Internet Explorer */
                        color: #ccc;
                    }

                    &::placeholder {
                        color: #ccc;
                    }
                }

                .form-text {}

                button {
                    width: 100%;
                    background-color: #000;
                    margin-top: 30px;
                    margin-bottom: 90px;
                }

                a {
                    font-style: italic;
                    opacity: 0.8;
                }
            }
        }

        .login-img {
            position: relative;
            border-radius: 20px;
            box-shadow: 0px 5px 24px #000000c9;
            padding: 25%;
            background: url(../img/bg.jpg) top center/cover no-repeat;
        }
    }
}

#app {

    header {
        position: fixed;
        margin-left: 300px;
        background-color: #fff;
        width: calc(100vw - 300px);
        box-shadow: -1px 37px 28px #0000001c;

        .top-header {
            height: 75px;
            svg {
                position: absolute;
                z-index: 1;
                right: 350px;
                top: 31px;
                opacity: 0.4;
            }

            input {
                width: 275px;
                position: absolute;
                right: 100px;
                top: 19px;
                padding-left: 40px;

                &::placeholder {
                    opacity: 0.5;
                }
            }
        }
    }

    .nav-container {
        position: fixed;
        background: #182645;
        width: 300px;
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;

        img {
            filter: invert(100%);
            width: 220px;
            margin-top: 45px;
        }

        .nav-items {
            margin-top: 40px;
            padding: 0;

            li {
                width: 300px;
                height: 74px;

                a {
                    color: #848484;
                    text-decoration: none;
                    display: block;
                    height: 74px;
                    line-height: 74px;
                    padding-left: 50px;
                }
                .active {
                    background-image: linear-gradient(to left, rgb(0 0 0 / 0%), rgb(255 255 255 / 16%));
                    color: #fff !important;
                }
            }
        }
    }
}