#login-page {
  padding: 10px 0;
}
#login-page .login-container {
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}
#login-page .login-container .login-content {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  left: 10%;
  width: 35%;
  top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  margin-top: 20px;
}
#login-page .login-container .login-content img {
  width: 200px;
  margin-top: 100px;
}
#login-page .login-container .login-content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}
#login-page .login-container .login-content p {
  font-size: 14px;
}
#login-page .login-container .login-content .login-form {
  width: 75%;
}
#login-page .login-container .login-content .login-form input:-ms-input-placeholder {
  /* Internet Explorer */
  color: #ccc;
}
#login-page .login-container .login-content .login-form input::-moz-placeholder {
  color: #ccc;
}
#login-page .login-container .login-content .login-form input::placeholder {
  color: #ccc;
}
#login-page .login-container .login-content .login-form button {
  width: 100%;
  background-color: #000;
  margin-top: 30px;
  margin-bottom: 90px;
}
#login-page .login-container .login-content .login-form a {
  font-style: italic;
  opacity: 0.8;
}
#login-page .login-container .login-img {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.7882352941);
  padding: 25%;
  background: url(../img/bg.jpg) top center/cover no-repeat;
}

#app header {
  position: fixed;
  margin-left: 300px;
  background-color: #fff;
  width: calc(100vw - 300px);
  z-index: 2;
}
#app header .top-header {
  height: 75px;
  box-shadow: -1px 11px 28px rgba(0, 0, 0, 0.06);
}
#app header .top-header svg {
  position: absolute;
  z-index: 1;
  right: 350px;
  top: 31px;
  opacity: 0.4;
}
#app header .top-header input {
  width: 275px;
  position: absolute;
  right: 100px;
  top: 19px;
  padding-left: 40px;
}
#app header .top-header input::-moz-placeholder {
  opacity: 0.5;
}
#app header .top-header input:-ms-input-placeholder {
  opacity: 0.5;
}
#app header .top-header input::placeholder {
  opacity: 0.5;
}
#app header .bot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px 0 50px;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #ccc;
}
#app header .bot-header .bot-header_title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
#app header .bot-header .header-login {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#app header .bot-header .header-login > a {
  font-size: 16px;
}
#app header .bot-header .header-login h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 2px;
  margin-right: 10px;
}
#app header .bot-header .header-login > img {
  width: 50px;
  height: 50px;
}
#app header .bot-header .active-profile {
  display: block !important;
}
#app header .bot-header .profile {
  display: none;
  position: absolute;
  right: 50px;
  top: 160px;
  display: none;
  position: absolute;
  right: 50px;
  top: 160px;
  -webkit-animation: showProfile ease-in-out 0.3s;
  animation: showProfile cubic-bezier(0, 0.37, 0.75, 1.09) 0.5s;
}
#app header .bot-header .profile .profile-container {
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 20px;
  box-shadow: 6px 10px 34px rgba(0, 0, 0, 0.3098039216);
}
#app header .bot-header .profile .profile-container div {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin-bottom: 10px;
}
#app header .bot-header .profile .profile-container div img {
  width: 50px;
  height: 50px;
}
#app header .bot-header .profile .profile-container div p {
  margin: 0;
}
#app header .bot-header .profile .profile-container > a {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  margin-top: 20px;
  display: block;
  margin: 0 20px 10px 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  color: #848484;
}
#app .nav-container {
  position: fixed;
  background: #182645;
  width: 300px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
#app .nav-container img {
  filter: invert(100%);
  width: 220px;
  margin-top: 45px;
}
#app .nav-container .nav-items {
  margin-top: 40px;
  padding: 0;
}
#app .nav-container .nav-items li {
  width: 300px;
  height: 74px;
}
#app .nav-container .nav-items li a {
  color: #848484;
  text-decoration: none;
  display: block;
  height: 74px;
  line-height: 74px;
  padding-left: 50px;
}
#app .nav-container .nav-items li .active {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.16));
  color: #fff !important;
}
#app .homePageContent {
  margin-left: 300px;
  padding-top: 151px;
}
#app .homePageContent .homePageContainer {
  margin: 0 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#app .homePageContent .homePageContainer .homePageLeft {
  width: 55%;
}
#app .homePageContent .homePageContainer .homePageLeft .homePageList {
  margin-bottom: 40px;
}
#app .homePageContent .homePageContainer .homePageLeft .homePageList h2 {
  font-size: 20px;
  font-weight: 600;
}
#app .homePageContent .homePageContainer .homePageLeft .homePageList p {
  font-size: 14px;
  opacity: 50%;
}
#app .homePageContent .homePageContainer .homePageLeft .listItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#app .homePageContent .homePageContainer .homePageLeft .listItems .homeItem {
  text-align: center;
  width: 48%;
  height: 140px;
  background-color: #f5f7f9;
  margin-bottom: 18px;
}
#app .homePageContent .homePageContainer .homePageLeft .listItems .homeItem p {
  line-height: 140px;
  font-size: 20px;
}
#app .homePageContent .homePageContainer .homePageRight {
  width: 40%;
  background-color: #f5f7f9;
  border-radius: 20px;
}
#app .homePageContent .homePageContainer .homePageRight .profileBtn {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
  align-items: center;
}
#app .homePageContent .homePageContainer .homePageRight .profileBtn p {
  font-weight: 600;
  margin: 0;
}
#app .homePageContent .homePageContainer .homePageRight .profileBtn a {
  text-decoration: none;
  color: #848484;
  background-color: #ececec;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 20px;
}
#app .homePageContent .homePageContainer .homePageRight .profile {
  text-align: center;
}
#app .homePageContent .homePageContainer .homePageRight .profile img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
#app .homePageContent .homePageContainer .homePageRight .profile h4 {
  font-size: 16px;
  opacity: 70%;
}
#app .homePageContent .homePageContainer .homePageRight .profile p {
  font-size: 16px;
  opacity: 70%;
}
#app .homePageContent .homePageContainer .homePageRight .profileDesc {
  display: flex;
  width: 85%;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: space-between;
  margin-bottom: 100px;
}
#app .homePageContent .homePageContainer .homePageRight .profileDesc .descriptions {
  width: 33%;
  text-align: center;
  background-color: #ececec;
}
#app .homePageContent .homePageContainer .homePageRight .profileDesc .descriptions h4 {
  font-size: 12px;
  margin: 10px 0;
  opacity: 70%;
}
#app .homePageContent .homePageContainer .homePageRight .profileDesc .descriptions p {
  margin: 10px 0;
  font-weight: 600;
}

@-webkit-keyframes showProfile {
  from {
    opacity: 0;
    top: 90px;
  }
  to {
    opacity: 1;
    top: 160px;
  }
}

@keyframes showProfile {
  from {
    opacity: 0;
    top: 90px;
  }
  to {
    opacity: 1;
    top: 160px;
  }
}/*# sourceMappingURL=main.css.map */